<!DOCTYPE html>
<html ng-app="adUser">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AD_userSite_Master</title>

    <environment names="Development">
        <link href="~/lib/angular-material/angular-material.min.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet"/>
        <link href="~/lib/material-design-icons-font/iconfont/material-icons.css" rel="stylesheet" />
        <link href="~/lib/angular-material-data-table/dist/md-data-table.css" rel="stylesheet"/>
        <link href="~/ad-user/user-list-daniel.component.css" rel="stylesheet" />
        
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@

        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body ng-cloak>

@*<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">AD_userSite_Master</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
            </ul>
            <p class="nav navbar-text navbar-right">Hello, @User.Identity.Name!</p>
        </div>
    </div>
</div>*@


<div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - AD_userSite_Master</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-component-router/angular_1_router.js"></script>
        <script src="~/lib/angular-animate/angular-animate.js"></script>
        <script src="~/lib/angular-aria/angular-aria.min.js"></script>
        <script src="~/lib/angular-messages/angular-messages.min.js"></script>
        <script src="~/lib/angular-material/angular-material.js"></script>
        

        @*<script src="~/js/site.js"></script>*@
        <script src="~/lib/angular-material-data-table/dist/md-data-table.js"></script>
        @*<script src="http://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.js"></script>*@

        @*<script src="~/js/mdTableFilter.js"></script>*@


        <script src="~/ad-user/module.js"></script>
        <script src="~/ad-user/user-app.component.js"></script>

        <script src="~/ad-user/userService.js"></script>

        <script src="~/ad-user/user-list.component.js"></script>
        <script src="~/ad-user/user-add.component.js"></script>
        <script src="~/ad-user/user-edit.component.js"></script>
        <script src="~/ad-user/user-delete.component.js"></script>
         

        @*<script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
        @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    </environment>
    <environment names="Staging,Production">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>*@
        @*<script src="~/js/site.min.js" asp-append-version="true"></script>*@
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
